@mixin content-block {
  margin: 1em 0;
}

@mixin center-block {
  margin-left: auto;
  margin-right: auto;
}

@mixin vertical-align {
  position: relative;
  top: 50%;
  @include transform(translateY(-50%));
}
